.app {
  background-image: linear-gradient(135deg, rgba(0, 161, 224, 0.3), transparent);
  background-color: #79589F;
}

label,
button,
h1,
h2,
footer,
.tweetbox,
.title,
.content,
a:link,
a:visited,
a:hover {
  color: #fff;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  margin: 0 20em;
}

input,
label {
  display: block;
}

.form-input {
  float: left;
  margin-right: 20px;
}

.logo {
  height: 50px;
  float: left;
}

.tweeter-logo {
  width: 36px;
  height: 36px;
}

.title {
  height: 50px;
  float: left;
  margin-left: 10px;
  transform: translateY(25%);
}

section {
  padding: 3em 0 2.5em 0;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 800px;
  margin-left: 50%;
  transform: translate(-50%);
}

.tweetbox {
  min-height: 400px;
}

h1,
h2 {
  width: 100%;
  float: left;
  margin: 0;
  font-weight: 100;
  text-align: center;
  line-height: 1em;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.2rem;
  opacity: .75;
  margin-top: 20px;
}

.tweetbox {
  width: 100%;
  float: left;
}

.tweetbox {
  height: auto;
  margin-top: 20px;
}

.tweetcontent {
  height: 250px;
  padding: 40px;
  box-sizing: border-box;
  background-color: #fff;
  margin-bottom: 15px;
}

textarea {
  width: 100%;
  height: 170px;
  padding: 0;
  border: none;
  outline: none;
  line-height: 25px;
  color: #444;
  resize: none
}

button {
  float: right;
  background-color: hsla(0, 0%, 100%, .25);
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .1em;
  outline: none;
  border: none;
}

button:hover {
  opacity: .75;
}

.tweets {
  float: left;
  width: 100%;
  margin: 2em 0;
  min-height: 200px;
}

.tweet {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.content {
  width: 100%;
  transform: translateY(50%);
}

footer {
  clear: both;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

.description {
  margin-top: 10em;
  min-height: 700px;
}